<tr>
    <td class="header">
        <a href="/" style="display: inline-block;">
            <img src="http://localhost/sites/default/files/enisa_logo.svg" alt="Enisa Logo">
        </a>
    </td>
</tr>